# CodeAlpha 
# Task 1 - Web Scraping

- Importing BeautifulSoup and Request

In [371]:
import requests
from bs4 import BeautifulSoup

- Scrapping Website : https://books.toscrape.com/

In [256]:
a = requests.get("https://books.toscrape.com/")
a.status_code

200

- Single page imported

In [258]:
with open("HTML/page1.html", "w") as p:
    p.write(a.text)

- Read File

In [262]:
with open("HTML/page1.html") as f:
    content = f.read()

In [264]:
soup = BeautifulSoup(content, "html.parser")                                 # making soup as Var and 
                                                                             # html.parser" tells BeautifulSoup to use Python’s built‑in HTML parser.

- Scrapping : Title, Price, Availability & Rating

In [380]:
articles = soup.select("article.product_pod")
# articles
items = []                                                                    # Empty List
for article in articles:
    title = article.find("h3").find("a")['title']
    price = article.select_one("p.price_color").text.split("Â£")[1]
    Available = article.select_one("p.availability").text.split()
    rating_element = article.select_one("p.star-rating")
    rating = rating_element['class'][1]
    # print(Available)
    items.append([title, Available, price, rating])

- Importing pandas to make DataFrame

In [364]:
import pandas as pd

df = pd.DataFrame(items, columns=["Title", "Available", "Price", "Rating"])
df

,Title,Available,Price,Rating
0,A Light in the Attic,"[In, stock]",51.77,Three
1,Tipping the Velvet,"[In, stock]",53.74,One
2,Soumission,"[In, stock]",50.10,One
3,Sharp Objects,"[In, stock]",47.82,Four
4,Sapiens: A Brief History of Humankind,"[In, stock]",54.23,Five
5,The Requiem Red,"[In, stock]",22.65,One
6,The Dirty Little Secrets of Getting Your Dream...,"[In, stock]",33.34,Four
7,The Coming Woman: A Novel Based on the Life of...,"[In, stock]",17.93,Three
8,The Boys in the Boat: Nine Americans and Their...,"[In, stock]",22.60,Four
9,The Black Maria,"[In, stock]",52.15,One
10,"Starving Hearts (Triangular Trade Trilogy, #1)","[In, stock]",13.99,Two
11,Shakespeare's Sonnets,"[In, stock]",20.66,Four
12,Set Me Free,"[In, stock]",17.46,Five
13,Scott Pilgrim's Precious Little Life (Scott Pi...,"[In, stock]",52.29,Five
14,Rip it Up and Start Again,"[In, stock]",35.02,Five
15,Our Band Could Be Your Life: Scenes from the A...,"[In, stock]",57.25,Three
16,Olio,"[In, stock]",23.88,One
17,Mesaerion: The Best Science Fiction Stories 18...,"[In, stock]",37.59,One
18,Libertarianism for Beginners,"[In, stock]",51.33,Two
19,It's Only the Himalayas,"[In, stock]",45.17,Two

- Saved in CSV File

In [367]:
df.to_csv("Books.csv", index = False)